.main {
  position: absolute;
}

.card {
  border: solid var(--secondary-color) 0.3em;
  border-radius: 1.3rem;
  padding: 0.3rem;
  margin: 2rem;
  text-align: center;
  position: relative;
  background-color: var(--card-background-color);
}

.bookmark__remove {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.action__button {
  font-size: 1em;
  font-weight: 400;
  padding: 0.3rem;
  margin: 1rem;
  border: none;
  border-radius: 0.3em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1em var(--secondary-color);
  position: relative;
}

.show-answer {
  display: none;
}

.show-answer--active {
  display: block;
}

.action__button-active {
  background-color: red;
}

.submit--button {
  font-size: 1em;
  font-weight: 400;
  padding: 0.3rem;
  margin: 1rem;
  border: none;
  border-radius: 0.3em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1em var(--secondary-color);
  position: relative;
}

.tag--list {
  font-size: 0.8rem;
  background-color: var(--tags-background-color);
  border-radius: 0.9em;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1px;
}

.text--field {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  border: solid var(--secondary-color) 0.3em;
  border-radius: 1.3rem;
  padding: 0.3rem;
  margin: 2rem;
  text-align: center;
  position: relative;
  background-color: rgb(219 219 219);
}

.text--field__tags {
  background-color: rgb(219 219 219);
}

.label,
textarea {
  font-weight: 400;
  padding: 0.3rem;
  margin: 1rem;
  border: none;
  border-radius: 0.3em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1em var(--secondary-color);
  position: relative;
}

.profile--picture {
  max-width: 30%;
  border-radius: 50%;
  position: relative;
  left: 90px;
  margin: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  border: solid var(--secondary-color) 0.3em;
  border-radius: 1.3rem;
  padding: 0.3rem;
  margin: 2rem;
  text-align: center;
  position: relative;
  background-color: rgb(219 219 219);
}

.logout--button {
  font-size: 1em;
  font-weight: 400;
  padding: 0.3rem;
  margin: 1rem;
  border: none;
  border-radius: 0.3em;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1em var(--secondary-color);
  position: relative;
}
